table {
    border: 1px solid black;
    border-collapse: collapse;
    background-image: url(image/bgMoveTheBox.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

td {
    border: 1px solid white;
    width: 60px;
    height: 60px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

td.box1 {
    background-image: url(image/box1.png);
}

td.box2 {
    background-image: url(image/box2.png);
}

td.box3 {
    background-color: brown;
}

td.z {
    background-size: 0px;
}