table {
    border: 1px solid black;
    border-collapse: collapse;
    background-image: url(image/bgMoveTheBox.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

td {
    border: 1px solid white;
    width: 81px;
    height: 81px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.box {
    border: 1px solid white;
    position: absolute;
    width: 81px;
    height: 81px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.box-1 {
    background-image: url(image/box1.png);
}

.box-2 {
    background-image: url(image/box2.png);
}

.box-3 {
    background-color: brown;
}

.box-4 {
    background-color: gray;
}

.box-5 {
    background-color: green;
}

.box-6 {
    background-color: yellow;
}

.z {
    background-size: 0px;
}

.box-999 {
    background-color: black;
}

div#buttons {
    display: grid;
    width: 81px;
    height: 81px;
    border: 1px solid black;
    background-color: rgba (255, 255, 255, alpha);
    position: absolute;
    top: -320px;
    left: -330px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0px 0px 10px white;
}

div#buttons div {
    display: flex;
    justify-content: center;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

div#btnU {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

div#btnD {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

div#btnR {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

div#btnL {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}